/* Universal */

* {
  /* outline: black solid 1px; */
}
/* Im not gunna pretend like this lab went well most of this code was coppied durring class. I was trying to work along with the lecture */

/* Header */
header {
  height:  100px;
  background-color: #666666;
}
header img { 
  float: left;
  margin:15px auto;
}
nav{
  outline: black solid 1px;
  overflow: auto;
  width: 960px;
  margin: 0px auto;
}
nav li {
  display:inline-block; 
  margin-top:40px;
  margin-left:80px;
}
li a {
  font-size: 2em;
  color: black;
  text-decoration: none;
}

/* Main */
main {
  width: 960px;
  margin: 30px auto;
  margin-bottom: 0px;
}
main ul {
  overflow:auto;
}
main ul li{
  float: left;
  margin: 30px 30px 30px 0;
}
main ul li:last-child {
  margin-right:0px;
}
#featured {
  overflow:auto;
}

#featured > img{
  float: left;
}

#featured h4 {
  font-size: 2em;
}

#featured article {
  max-width: calc(50% - 30px);
  max-height: 400px;
  float: left;
  padding-left: 30px;
  margin-bottom: 30px;
}

#featured article p {
  overflow: scroll;
  max-height: calc(400px - 4em);
}

button {
  padding: 10px 30px;
  border-radius: 5px;
  transition: 350ms
}
button:hover {
  background-color: black;
  color: white;
}
/* Footer */
footer {
  height: 100px;
  background-color: grey;
}